.cards {
  display: flex;
  flex-direction: column;

  .card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
    border: none;
    flex-grow: 1;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(0, 0, 0, 0.08);
    @include column-item;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__title {
      @include h5;
      margin-bottom: 12px;
    }

    &__text {
      margin-bottom: 24px;
      font-family: $ff-1;
      line-height: 20px;
      color: $neutral-300;
    }

    &__icon {
      margin-top: auto;

      img {
        display: block;
        width: 100%;
        max-width: 52px;
      }
    }
  }
}

@media (min-width: $m1024){
  .cards {
    flex-direction: row;
    justify-content: space-between;

    .card {
      flex-basis: 30%;
      padding: 24px;
  
      &:not(:last-child) {
        margin-bottom: 0;
      }
  
      &__text {
        @include body-L-16;
      }
    }
  }
}

@media (min-width: $m1280){
  .card {
    padding: 32px;
  }
}